* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    font-size: 62.5%;
}

button:nth-child(1) {
    padding: 2rem 4rem;
    cursor: pointer;
}

.box1 {
    width: 30%;
    height: 30rem;
    
}

/* 
button:hover {
    background-color: crimson;
    padding: 3rem 4rem;
}

button:focus {
    background: lightgreen;
}

input:focus {
    background: lightgreen;
} */

